
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

$navigation-slider-amount: 80vw;

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat-palette($mat-cyan, 600);
$app-accent: mat-palette($mat-light-blue, 900);
$app-background: rgb(241, 242, 244);


$border-color: #e0e0e0;

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-red);

$mat-light-theme-background: map_merge($mat-light-theme-background, (background: $app-background));
//$mat-light-theme-foreground: map_merge($mat-light-theme-foreground, (divider: yellow));

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-theme: mat-light-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn
  )
));

$density-scale: mat-get-density-config(mat-get-density-config(mat-private-legacy-get-theme($app-theme)));
$header-height-desktop: mat-private-density-prop-value($mat-toolbar-desktop-density-config, $density-scale, height);
$header-height-mobile: mat-private-density-prop-value($mat-toolbar-mobile-density-config, $density-scale, height);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

:root{
  --radius-md: 6px;
}


::ng-deep{
  .mat-tooltip {
    background-color: white;
    color: mat-color($app-accent) !important;
    border: 1px solid $border-color;
    box-shadow:0 0 5px $border-color;
  }
}

.module {
  border-radius: var(--radius-md);
  border:1px solid $border-color;
  overflow:hidden;
  box-sizing: border-box;
  margin: 1rem;
}

::ng-deep{
  @media only screen and (max-width: 960px) {
    .module{
      border:0;
      padding:1rem;
    }
    .module .mat-row{
      border-radius: var(--radius-md);
      border:1px solid $border-color;
      overflow:hidden;
    }
  
  }
}

@mixin header-height($propertyName:'height', $subtract: 0, $divideBy: 1){
  #{$propertyName}: ($header-height-desktop - $subtract) / $divideBy;
  @media ($mat-xsmall) {
      #{$propertyName}: ($header-height-mobile - $subtract) / $divideBy;
  }
}

:focus{
  outline:0;
}

.stretch-to-bottom{
  flex-grow: 1;
}


::-webkit-scrollbar {
  width: 14px;
  background-color: rgba(0,0,0, 0.18);
}

::-webkit-scrollbar-thumb {
  background-color: mat-color($app-primary);
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 9999px;
}