@use '~@angular/material' as mat;
@import '../custom-theme.scss';
@import '@angular/material/_theming.scss';

@include mat.core();

$primary: map-get($app-theme, primary);
$accent: map-get($app-theme, accent);
$background: map-get($app-theme, background);

button.expander{
    @include header-height('height');
    .text{
        color: $app-background;
    }
}

::ng-deep .header-spacer{
    @include header-height('height');
}

button.expander, mat-nav-list{
    width:5em;
}

.header{
    color: mat.get-color-from-palette($primary);
    background-color: transparent;
    position:absolute;
    z-index: 1000;
}

::ng-deep .sidenav mat-nav-list.expanded{
    width: $navigation-slider-amount !important;
}

::ng-deep .sidenav.desktop-only-slide mat-nav-list.expanded{
    @media screen and (min-width: 768px) {/*when desktop*/
        width: var(--desktop-navigation-slider-amount) !important;
    }
}

mat-drawer-container{
    mat-drawer{
        overflow-y:initial;
        background-color: mat.get-color-from-palette($primary, 0.65);
        border:0;
        height: fit-content;
    }
    mat-drawer.isNotMini{
        background-color: mat.get-color-from-palette($primary);
        height: 100%;
    }
       
    mat-drawer-content{
        margin-left: 5em !important;
        min-height:100vh;

        //BUG causes canvas cursor position to be off.
        -webkit-transition: margin-left 0.3s ease-in-out;
        -moz-transition: margin-left 0.3s ease-in-out;
        -o-transition: margin-left 0.3s ease-in-out;
        transition: margin-left 0.3s ease-in-out;

        @media only screen and (max-width: 768px) {/*when mobile*/
            width: calc(100vw - 5em);
        }


        .main-content{
            margin:0;
            display: flex;
            flex-direction: column;
            min-height:100vh;
        }
    }

    &.expanded{
        &.slide{
            mat-drawer-content{
                margin-left: $navigation-slider-amount !important;
            }
        }
        &.desktop-only-slide{
            mat-drawer-content{
                @media screen and (min-width: 768px) {/*when desktop*/
                    margin-left: var(--desktop-navigation-slider-amount) !important;
                }
            }
        }
    }
}

.no-padding-left{
    padding-left:0;
}

.no-margin-top{
    margin-top:0 !important;
}

::ng-deep .router-outlet-wrapper{
    display:contents;
}

::ng-deep .router-outlet-wrapper app-database-schema {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}