@import '../custom-theme.scss';

$primary: map-get($app-theme, primary);
$accent: map-get($app-theme, accent);

mat-drawer-container{
    mat-drawer{
        overflow-y:initial;
        background-color: mat-color($accent);
        .text{
            color:white;
        }

        .expander{
            width:100%;
            .text{
                color:white;
            }
        }

        mat-nav-list{
            width:5em;
            -webkit-transition: width 0.3s ease-in-out;
            -moz-transition: width 0.3s ease-in-out;
            -o-transition: width 0.3s ease-in-out;
            transition: width 0.3s ease-in-out;
        
            &.expanded{
                width: 15em;
            }
        }
    }

    mat-drawer-content{
        margin-left: 5em !important;
        min-height:100vh;
        background-color: mat-color($mat-gray, 300);
        -webkit-transition: margin-left 0.3s ease-in-out;
        -moz-transition: margin-left 0.3s ease-in-out;
        -o-transition: margin-left 0.3s ease-in-out;
        transition: margin-left 0.3s ease-in-out;
        .main-content{
            margin:2em 5em 2em 2em;
            min-height: calc(calc(calc(100vh - 128px) - 4em) - 2px); /* mat-toolbar is 64 height. 100vh - (toolbar-height * 2) - (margin-top * 2) - (border-width * 2) */
            background: white;
            border: 1px solid mat-color($mat-gray, 400);
            border-radius: 4px;
        }
        .footer, .header{
            color: mat-color($accent);
            background-color: white;
        }
    }

    &.expanded{
        mat-drawer-content{
            margin-left: 15em !important;
        }
    }
}


.color-primary{
    color: mat-color($primary);
}

.color-accent{
    color: mat-color($accent);
}

.background-primary{
    background-color: mat-color($primary);
}

.background-accent{
    background-color: mat-color($accent);
}