<!--https://www.synerzip.com/blogs/getting-started-with-angular-flex-layout/-->
<mat-drawer-container #drawerContainer style="height:100vh;" [hasBackdrop]="false" [ngClass]="{'expanded': isExpanded}">
  <mat-drawer #sidenav mode="side" opened class="example-sidenav">
    <lib-vertical-navigation [isExpanded]="isExpanded" (toggled)="onToggle($event)"></lib-vertical-navigation>
  </mat-drawer>
  

  <mat-drawer-content>
    <mat-toolbar class="header">
    <div fxLayout="row" width="100%" fxFlex="100">
        <div fxFlex="25">Get shit done.</div>
        <div fxFlex="40" fxLayoutAlign="center"></div>
        <div fxFlex="35" fxLayoutAlign="end">
          <button mat-button color="primary">Sign Up</button>
          <button mat-flat-button color="primary">Login</button>
        </div>
      </div>

    </mat-toolbar>

    <div class="main-content">
    <div fxLayout="row">
      <div fxFlex="33"> Child - One </div>
      <div fxFlex="33"> Header </div>
      <div fxFlex="33"> NAV </div>
    </div>

    <div fxLayout="row" fxLayout.xs="column">
      <div fxFlex="35"> Child - One </div>
      <div fxFlex="30" fxHide.lt-md> Child - Two </div>
      <div fxFlex="35" fxLayoutAlign="space-around center">
        <div fxFlex="50" fxFlex.lt-lg="80"> Sub-child - One</div>
      </div>
    </div>

    
  </div>

    <mat-toolbar class="footer">Footer</mat-toolbar>
  </mat-drawer-content>
</mat-drawer-container>